p{
    color: white;
    background-color: green;
    text-align: justify;
    font-family: Arial;
    font-size: 20px;
}

h1{
    color: yellow;
    background-color: red;
    font-family: monospace;
    font-weight:bold;
}

h2{
    color: white;
    background-color: black;
    font-family: monospace;
    font-weight: bold;
}

h3{
    color: red;
    background-color: yellow;
    font-family: monospace;
}
